
---
import Layout from "../layouts/Layout.astro";
---
<Layout>
  <h1 class="text-3xl font-semibold mb-4">Contact</h1>
  <p>Let’s talk! You can reach us by:</p>
  <ul class="mt-4">
    <li>📞 WhatsApp: +55 45 99125-7789</li>
    <li>📧 Email: datcodeboy@null.net</li>
  </ul>
</Layout>
