
---
import Layout from "../layouts/Layout.astro";
---
<Layout>
  <h1 class="text-3xl font-semibold mb-4">Our Services</h1>
  <ul class="list-disc ml-6">
    <li>Website Creation & UI Design</li>
    <li>Full Stack Development</li>
    <li>Cybersecurity Consulting</li>
    <li>Maintenance & Optimization</li>
  </ul>
</Layout>
