---
---
<nav class="bg-[theme('colors.blackhorse.green')] px-10 py-8 shadow-md">
  <div class="flex justify-between items-center max-w-9xl mx-auto">
    <!-- Logo + Name -->
    <div class="flex items-center gap-3">
      <img src="/logo.png" alt="Black Horse System Logo " class="w-20 h-20" />
      <a href="/" class="text-xl font-bold tracking-wide text-[theme('colors.blackhorse.orange')]">
        Black Horse System
      </a>
    </div>

    <!-- Menu only -->
    <div class="hidden md:flex gap-6 text-sm font-semibold text-[theme('colors.blackhorse.silver')] items-center">
      <a href="/" class="hover:underline underline-offset-4 decoration-2 transition duration-200">Home</a>
      <a href="/services" class="hover:underline underline-offset-4 decoration-2 transition duration-200">Services</a>
      <a href="/about" class="hover:underline underline-offset-4 decoration-2 transition duration-200">About</a>
      <a href="/projects" class="hover:underline underline-offset-4 decoration-2 transition duration-200">Projects</a>
      <a href="/contact" class="hover:underline underline-offset-4 decoration-2 transition duration-200">Contact</a>
    </div>
  </div>
</nav>
